@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

.offer-main-div {
  display: flex;
  background-color: white;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .harvest-logo-img {
    width: 20rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .harvest-logo-img {
    width: 30rem;
  }
}

.Offer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

#Offer-content {
  font-family: "Roboto Mono", monospace;
  color: 'white' !important;
}

@media only screen and (max-width: 800px) {
  .Offer-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.offer-image {
  max-width: 90%;
  border-radius: 5%;
}

@media only screen and (max-width: 800px) {
    .offer-image {
        width: 30rem !important;
        border-radius: 5%;
      }
  }

.heading-style {
  font-family: "Julee";
  font-size: 2rem;
  color: #f1f1f1;
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .harvest-logo-img {
    width: 30rem;
  }
}

#Offer-content{
    width: 90%;
    color: 'white';
}

.Offer-content-div{
    padding: 1rem;
    
}



:root{ --main-color: #5EA400; }
.demo{ background-color: #f1f1f1; }
.serviceBox{
    font-family:'Poppins', sans-serif;
    text-align: center;
    padding: 25px 35px 40px;
    position: relative;
    z-index: 1;
}
.serviceBox:before,
.serviceBox:after{
    content: "";
    background-color: var(--main-color);
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.serviceBox:after{
    background-color: #fff;
    height: auto;
    border-radius: 50%/15%;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
.serviceBox .service-icon{
    color: var(--main-color);
    font-size: 40px;
    margin: 0 0 20px;
}
.serviceBox .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 0 10px;
}
.serviceBox .description{
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0;
}
.serviceBox.red{ --main-color: #FF4E01; }
.serviceBox.green{ --main-color: #008B85; }
.serviceBox.orange{ --main-color: #FF7C19; }
@media only screen and (max-width: 1199px){
    .serviceBox{ margin: 0 0 30px; }
}

.callus-div{
    color: white;
    font-size: 1.2em;

}

.visitus{
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 2rem;

}

a{
    /* color: none; */
    text-decoration-style: unset;
}